ul {
    list-style-type: none;
    margin-left: -45px;
}

li {
    list-style-type: none;
    display: list-item;
    padding: 10px;
}

label {
    background-color: #333333;
}

#awsc-switch-role-support {
    color: #444;
    display: block;
    font-size: 13px;
    line-height: 15px;
    font-family: Helvetica Neue, Arial, sans-serif;
    white-space: nowrap;
}

#awsc-menu-item-block {
    float: left;
    white-space: nowrap;
}

#awsc-recent-roles-label {
    color: #555;
}

.awsc-role-color {
    height: 15px;
    width: 15px;
    cursor: pointer;
    border: solid 1px transparent;
    margin: 0;
    line-height: normal;
}

.awsc-role-submit {
    padding: 0 0 0 .5em;
    background-color: transparent;
    color: #444;
    font-size: 13px;
    cursor: pointer;
    vertical-align: top;
    white-space: nowrap;
}

.awsc-role-goto {
    padding: 10px 0;
}
